body {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: "Libre Franklin", Helvetica, sans-serif;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2, h3 {
  font-weight: 700;
}
