/* Elements ----------------------------------------------------------- */

body {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  font-family: "Libre Franklin", Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-size: 6em;
  text-align: center;
  line-height: 90%;
  margin-block-end: .33em;
}

h2 {
  font-weight: 700;
  font-size: 2.66em;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 1.33em;
  text-align: center;
}

h4 {
  font-weight: 700;
  font-size: .75em;
  text-align: center;
  color: red;
}

p {
  font-size: 1em;
}

a {
  color: black;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: red;
}

footer {
  padding: 20px;
  text-align: center;
}

/* Classes ----------------------------------------------------------- */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
/*
.hover_img a { 
  position: relative; 
}
*/
.hover_img a span { 
  position: absolute; 
  display: none;
  z-index:99; 
}
.hover_img a:hover span { 
  display: block;
}

/* IDs ----------------------------------------------------------- */

#selected_projects {
  min-height: 800px;
}

/* Media Queries ----------------------------------------------------------- */

@media screen and (max-width: 680px) {
  h1 {
    font-size: 3.25em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1em;
  }
}
